{%extends'template_base.html'%}


{%block content%}
<table class="table">
    <thead>
        <tr>
            <th>nombre y apellido</th>
            <th>ciudad</th>
            <th>email</th>
            <th><a href="/personas_add">agregar personas</a></th>
        </tr>
    </thead>
    <tbody>
        {% for user in listado%}
        <tr>
           
            <td>{{user.name.first}}, {{user.name.last}} </td>
            <td>{{user.location.city}}</td>
            <td>{{user.email}}</td>
        </tr>
            {% endfor %}
        
    </tbody>
</table>
{%endblock%}